/* Styling for the toggle container */
.toggle-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/* Matching the label style with Gmail's sidebar labels */
.toggle-label {
    margin-right: 10px;
    align-items: center;
    font-size: 12px;
}

/* Styling for the switch (round slider) */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 50px;
}

.slider.round {
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #3273F6;
}

input:checked+.slider:before {
    transform: translateX(14px);
}
